/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}
.jumbotron {
	background-image: url(../img/callout.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	background-size: cover;
}
